body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #010133 !important;
}
.nav-link {
  color: white !important;
}
.color-white {
  color: white !important;
}
h1 {
  font-size: 18px !important;
}
.img-fluid {
  height: 200px !important;
}
.big-img {
  height: 400px !important;
}
.loading {
  margin-top: 100px;
}

.btn:focus {
  box-shadow: none;
}
.site-layout-content {
  min-height: 100vh;
  padding: 24px;
  background: #fff;
}
input:not(:last-child) {
  margin-bottom: 10px;
}
input:focus {
  border-color: none;
}
.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}
.anticon {
  margin-bottom: 5px !important;
}
.ant-select {
  width: 80%;
}
.ant-rate {
  color: #ffb400 !important;
}
.anticon svg {
  margin-top: -6px;
  width: 1.4em !important;
  height: 1.4em !important;
}
.anticon-star svg {
  width: 1em !important;
  height: 1em !important;
}
tr td:last-child {
  text-align: center;
}
.btn-active {
  pointer-events: none;
  opacity: 0.65;
}
.admin {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: #010133 !important;
}
.admin li {
  box-sizing: border-box;
}
.admin li a {
  color: #010133 !important;
  font-size: 16px;
}
